<div>
	<h1>Animals</h1>
	
	<table class="animaltable">
		<tr>
			<th>Species</th>
			<th>Name</th>
			<th>Birth Date</th>
			<th>Remove animal</th>
			<th>Move to top</th>
		</tr>
		<tr *ngFor="let animal of animals">
			<td> {{ animal.species }} </td>
			<td> {{ animal.name }} </td>
			<td *ngIf="!animal.dateOfBirth"> Nepoznat </td>
			<td *ngIf="animal.dateOfBirth" > {{ animal.dateOfBirth }} </td>
			<td><a (click)="removeAnimal(animal)">Remove</a></td>
			<td><a (click)="moveToTop(animal)">Move to top</a></td>
		</tr>

	</table>
	
</div>